body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.black_span{
  color: #000000;
}
/* header */
.hambar{
  display: none;
}
.header_section{
    position: absolute;
}
header div {
    display: flex;
    padding: 0 5%;
    width: 100vw;
}
.logo_div {

    width: 15%;
}
header div img {
    width: 100%;
}
header div nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    float: right;
    justify-content: flex-end;
    width: 55%;

}
header div nav p {
    margin: 15px;
}
header div nav p a{
    text-decoration: none;
    color: #ffffff;
    font-size:large;
}

/* home banner */
.home_banner {
    background: url(./../img/bg_4.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    align-items: center;
    display: flex;
}
.home_content {
    display: block;
    width: 50%;
    padding-left: 10%;
}
.home_content h2{
    font-size: xxx-large;
    color: #ffffff;
}

.home_content {
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* appointment */
#appointment{
  padding: 5%;
}

#appointment p:first-child{
  font-size: xx-large;
  font-weight: 400;
}
#appointment p{
  text-align: center;
}
#appointment div a{
    text-decoration: none;
    color: #000000;
}
/* best solution */
.best_solution{
    text-align: center;
    color: #151010;
    background-color: #80ccf0;
    padding: 15px 0 25px;
}
.best_solution h4{
    font-size: xx-large;
    padding: 0 5%;
}
/* who we are */
#about{
    padding: 5% 10%;
}
.about_surya_dental h4{
  font-size: xx-large;
  margin: 0;
  color: #80ccf0;
}
.img_surya{
    display: flex;
}
.img_surya img{
  display: none;
}

/* services */
.service_intro{
    text-align: center;
    background-color: #80ccf0;
    padding: 1% 10% 5%;
}
.service_intro h4{
    font-size: xx-large;
}
.service_intro p{
    margin: 0;
}

#services{
    padding: 10%;
    align-items: center;
    text-align: center;
}
.service_desc{
    padding: 10px;
    border: 1px solid #80ccf0;
    margin: 10px;
    margin-bottom: 15%;
}
.service_img{
    margin-top: -15%;
}
.service_img img{
    z-index: 100;
    background-color: #80ccf0;
    border-radius: 50%;
}
.service_img div{
    margin-top: 17px;
    padding-top: 15px;
}
.service_desc div p{
    text-align: justify;
    padding: 0 10%;
}

/* why_surya_best */
.why_surya_best{
    background-color: #80ccf0;
    padding: 2% 10%;
    color: #ffffff;
    text-align: center;
}

.why_surya_best:hover{
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.why_surya_best h5{
    font-size: xx-large;
}
.best_features{
  padding: 2% 0 5%;
}

/* Why best clinic */
.best_feat_container{
    padding: 5% 10% 0;
    /* display: flex; */
}
.best_feat{
    padding: 5% 5%;
    flex: 1;
}
.best_feat div:first-child{
    display: flex;
    color: #80ccf0;
}
.best_feat div img{
  background-color: #80ccf0;
  border: 1px solid #28a9e6;
  border-radius: 50%;
  padding: 5px;
  width: 40px;
}
.best_feat div h5{
  padding-left: 20px;
  font-size: x-large;
  margin: 0;
  display: flex;
  align-items: center;
}

/* footer */
.footer{
  display: flex;
  height: 200px;
  padding: 5% 10%;
  background-color: #13b3ff;
}
.surya_image{
  flex: 1;
  display: flex;
}
.footer_navigation{
  flex: 1;
}
.footer_navigation p span{
  font-weight: 600;
}
.footer_navigation nav a{
  text-decoration: none;
  color: #000000;
  margin-bottom: 5px;
}
.Logo_appointment{
  flex: 1;
}
.Logo_appointment div:first-child{
  width: 60%;
  float: right;
}
.Logo_appointment div:first-child a img{
  width: 125%
}

/* contact */
.contacts{
  flex: 1;
}
.contacts h5{
  font-size: large;
  margin-top: 14px;
}

.contacts p{
  font-size: small;
}

.developer_section{
  background-color: #000000;
  padding: 2%;
}

.developer_section a{
  text-decoration: none;
  color: #ffffff;
}
.developer_section h1{
  text-align: center;
}

.developer_section h1 a span{
  color: #80ccf0;
}
.best_solution h4{
  margin-bottom: 10px;
}

.best_solution a{
  color: #ffffff;
  font-size: x-large;
  font-weight: 600;
}

@media(min-width:900px){

    #about{
      display: flex;
    }
    #services{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .best_feat_container{
      display: flex;
    }
    .best_feat{
      padding: 0 2%;
    }
    .img_surya img{
        margin: auto;
        padding-left: 10%;
        display: block;
    }
}

@media(max-width:576px){
  .footer{
    display: block;
    background-color: #ffffff;
    padding: 0;
    height: auto;
  }

  .surya_image{
    justify-content: center;
    padding: 5% 0;
  }
  .footer_navigation{
    text-align: center;
    padding: 5% 0;
    background-color: #80ccf0;
  }
  .Logo_appointment div:first-child{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .Logo_appointment{
    justify-content: center;
  }
  .Logo_appointment div:first-child a img{
    background-color: #80ccf0;
    padding: 0 20px;
    border-radius: 15px;
    width: 85%;
    margin-left: 2%;
  }
  .home_banner {
    background: url(./../img/home_banner_mobile.png);
    background-size: contain;
    background-color: #80ccf0;
  }
  .home_content{
    margin-top: -45vh;
    width: 100%;
    padding: 0 5%;
  }
  .home_content h2{
    color: #000000;
    font-size: x-large;
    padding: 0 5%;
  }
  header div{
    padding: 0;
  }
  .logo_div{
    position: absolute;
    width: 35%;
    margin-left: 35px;
  }
  .hambar img{
    z-index: 10;
    position: absolute;
  }
  .hambar{
    display: inline;
    position: absolute;
    width: 10%;
    right: 35px;
    top: 15px;
  }
  header div nav{
    width: 100vw;
    position: absolute;
    text-align: center;
    display: none;
    background-color: #fff;
    z-index: 9;
    padding: 10px 0;
  }
  header div nav p a{
    color: #000000;
  }
  .contacts{
    padding: 5% 10%;
    text-align: center;
  }
  .developer_section{
    margin-top: 50%;
  }

}
