:root {
  --custom-blue : #4abee4;
  --custom-white : #ffffff;
  /* --custom-white : #4a839e; */
  --custom-black : #000000c7;
  --custom-lightBlue : #add8e6;
}
body{
  margin: 0px;
  /* overflow: hidden; */
  padding: 0px;
  font-family: sans-serif;
  background-color: var(--custom-white);
}
.main{
  width: 400px;
  height: 400px;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.wave{
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: transparent;
  border: 25px solid #e9f1f087;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 6px 6px 18px 0px #e7eff1, 6px 6px 18px 0px #e7eff1 inset, -6px -6px 18px #ffffff, -6px -5px 18px #ffffff inset, 6px 6px 13px #ffffff inset;
  filter: blur(13px);
  animation: ripple 3s infinite ease-in;
}

.wave2{
  width: 150%;
  height: 150%;
}
.wave3{
  width: 200%;
  height: 200%;
}

@keyframes ripple{
  0%{
    transform: translate(-50%, -50%) scale(0);
  }
  100%{
    transform: translate(0%, 0%) scale(2.5);
  }
}



/* navigation: #81e9ff
background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,212,255,1) 33%, rgba(255,255,255,1) 66%, rgba(0,212,255,1) 100%); */

#content_section{
  display: flex;
  height: 100vh;
}
.typed-cursor{
  color: var(--custom-blue);
}

/* left navigation profile links */
.left_nav{
  border-right: 1px solid var(--custom-lightBlue);
  width: 5%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}


.left_nav p a{
  text-decoration: none;
  /* color: var(--custom-blue); */
  background: -webkit-linear-gradient(#000, var(--custom-blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  writing-mode: vertical-lr;
  padding: 5px 0;
  font-size: initial;
}

.right_nav .ajays_name{
  text-decoration: none;
  top: 25vh;
  position: fixed;
  color: var(--custom-black);
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  /* Safari */
  -webkit-transform: rotate(-180deg);
  /* Firefox */
  -moz-transform: rotate(-180deg);
  /* IE */
  -ms-transform: rotate(-180deg);
  /* Opera */
  -o-transform: rotate(-180deg);
  width: 5%;
  align-items: center;
  display: flex;
}
.right_nav .ajays_name a{
  text-decoration: none;
  color: var(--custom-black);
  font-weight: 600;
}
.navbar_text{
  font-size: large;
  position: relative;
  font-weight: 600;
}

.left_nav nav{
  background-color: var(--custom-lightBlue);
  display: grid;
  position: fixed;
  width: inherit;
  bottom: 0;
  padding: 10px 0;
}
.left_nav .navbar_text{
  position: absolute;
  top: 25px;
  display: grid;
}

.left_nav nav a svg{
  margin: 5px 0;
}

/* profile content */
.main_content{
  width: 90%;
}
.img_section img{
  bottom: -5px;
  right: 4%;
  position: fixed;
  width: 50%;

}

/* h1, a,p{
  font-family: sans-serif;
} */
.name h1{
  font-size: 100px;
  margin: 0;
  background: -webkit-linear-gradient(#000, var(--custom-blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.name h1:first-child{
  margin-top: 10%;
  padding-left: 8%;
}
.name h1:last-child{
  padding-left: 11%;
}
#writing_text{
  color: #058798;
  padding-left: 11%;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button_section{
  padding-left: 11%;
  margin-top: 20px;
}
.button_section .home_button{
  border: none;
  font-size: 16px;
  text-decoration: none;
  border-radius: 2px;
}
.button_section .home_button:first-child{
  color: var(--custom-white);
  background-color: var(--custom-black);
  margin-right: 10px;
  padding: 5px 15px;
}
.button_section .home_button:last-child{
  background-color: var(--custom-blue);
  color: var(--custom-white);
  padding: 5px 15px;
}

.button_section .home_button:first-child:hover{
  /* color: var(--custom-black); */
  background-color: var(--custom-blue);
  /* border: 1px solid var(--custom-black); */
}
.button_section .home_button:last-child:hover{
  /* color: var(--custom-white); */
  background-color: var(--custom-black);
  /* border: 1px solid var(--custom-white); */
}

/* right navigation, site navigation */
.right_nav{
  border-left: 1px solid var(--custom-lightBlue);
  width: 5%;
  position: fixed;
  right: 0;
  text-align: center;
  background-color: var(--custom-lightBlue);
  height: inherit;
}
/* .right_nav a:first-child img{
  margin-top: 10px;
} */
.right_nav nav{
  display: grid;
  position: fixed;
  bottom: 10px;
  width: 5%;
}
a img{
  width: 1.5em;
  height: 1.5em;
  margin: 5px 0;
}
.right_nav a:first-child img{
  margin-top: 20px;
}


/* responsive  section */
@media (max-width: 600px) {

  .info_section .name h1{
    padding-left: 20px;
    font-size: 50px;
  }
  .info_section .name h1:first-child{
    margin-top: 80px;
    padding-left: 20px;
  }
  .info_section .name h1:last-child{
    padding-left: 7%
  }
  .left_nav  .navbar_text{
    display: flex;
    width: 99vw;
    top: 0px;
    margin-top: 25px;
    display: flex;
    left: 12%;
  }
  .left_nav p a{
    writing-mode: inherit;
    left: 0px;
    padding: 0 10px;
  }
  .info_section{
    padding-left: 8%;
    margin-top: 120px;
  }
  .info_section .description{
    margin-top: 15px;
    padding-left: 15px;
  }
  #writing_text{
    margin: 10px;
    font-size: large;

  }
  .info_section .button_section .home_button{
    padding: 10px 15px;
  }
  .button_section{
    margin-top: 30px;
    margin-left: 5%;
  }
  .img_section img{
    position: absolute;
    width: 80%;
    right: 0px;
  }
  .left_nav .navbar_text{
    display: flex;
    justify-content: center;
    left: 5%;
  }
  .left_nav{
    width: 15%;
  }
  .left_nav nav{
    width: 12%;
  }
  .right_nav nav{
    width: inherit;
  }
  .right_nav .ajays_name{
    width: inherit;
  }
  .right_nav{
    position: absolute;
    width: 10%;
    display: none;
  }
  .work_info{
    padding-bottom: 25px;
  }
  .left_nav nav{
    bottom: 30px;
  }
  #portfolio_desc{
    padding-left: 11%;
    width: 90%;
  }
  .stack_and_area{
    display: block;
  }
  #portfolio_desc div img{
    margin-left: 4%;
    margin-top: 50px;
  }
  .tech_stacks, .working_areas{
    width: 90%;
    margin: 20px 0;
  }
  .bottom_space{
    margin-top: 10px;
    height: 5px;
  }
  .whatsapp_chat_widget{
    position: inherit;
  }
  .work_info{
    margin-top: 75px;
    padding: 0 5%;
  }
  .projects{
    display: grid;
  }
  .description {
    width: fit-content;
    padding: 0;
    margin: 0 0 25px;
  }
  .work_info button{
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 0;
  }
}
