*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
body{
  /* overflow-y: hidden; */
}
#portfolio_desc{
  width: 90%;
  padding-left: 5%;
  position: absolute;
  height: 45vh;
}
#portfolio_desc .p_desc{
  text-align: center;
}
#portfolio_desc div img{
  width: 90%;
  height: 230px;
}
.area p a{
  text-decoration: none;
  color: #5c8caf;
  font-weight: 600;
}
#portfolio_desc .desc{
  line-height: 1.5;
  margin: 10px 0;
  text-align: start;
  padding-left: 8%;
  padding-right: 5%;
  background: -webkit-linear-gradient(#000, var(--custom-blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#portfolio_desc div .action_buttons{
  text-align: initial;
  width: 90%;
  margin: 20px 0 20px 7%;
  display: flex;
}
.action_buttons a{
  text-decoration: none;
  margin: 0 10px;
}
.action_buttons a h5{
  color: #000000;
  background: radial-gradient(circle, rgba(139,222,219,1) 0%, rgba(255,255,255,1) 46%, rgba(139,222,219,1) 100%);
  margin: 20px;
  border-radius: 2px;
  text-align: left;
  padding: 5px 10px;
  background: radial-gradient(circle, rgba(139,222,219,1) 0%, rgba(255,255,255,1) 46%, rgba(139,222,219,1) 100%);
  width: fit-content;
  font-size: medium;
  margin: 10px 0;
}
/* .tech_stack p{
  margin: 20px;
  padding: 5px 20px;
  border-radius: 2px;
  font-size: small;
} */
.stack_and_area{
  display: flex;
  width: 90%;
  padding-left: 8%;
}
#portfolio_desc .stack_and_area .tech_stacks{
  width: 40%;
}
.working_areas{
  width: 60%;
}
.tech_stacks h5, .working_areas h5{
  text-align: left;
  padding: 5px 10px;
  width: fit-content;
  font-size: medium;
  margin: 10px 0;
  /* color: #fff; */
  /* background: #1db6e8; */
}
.service_and_project h5:last-child{
  /* color: #fff; */
  background: radial-gradient(circle, rgba(139,222,219,1) 0%, rgba(255,255,255,1) 46%, rgba(139,222,219,1) 100%);
  /* background: #1db6e8; */
}
.area{
  display: flex;
  justify-content: space-between;
}
.area p{
  flex: 1;
  font-size: small;
  border: 1px solid #e6e6e6;
  margin: 0 5px 4px 0;
  padding: 2px 5px;
}
/* .action_buttons{
  position: absolute;
  margin-top: 40px;
  width: 90%;
  margin-left: 8%;
  text-align: justify;
} */

.action_buttons div{
  /* display: flex; */
}

/* .bounce_effect{
  -webkit-animation: bounce 4s infinite;
  animation: bounce 4s infinite;
} */
/* .duration-3000 {
    transition-duration: 3s;
}
.transition {
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,-webkit-transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,-webkit-transform;
}

  .transform {
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    -webkit-transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
} */
/* project section */
/* .work_info{
  padding-left: 30px;
}
.work_info h2{
  margin-left: 15px;
  margin-top: 25px;
  margin: 25px 0 10px 15px;
}
.projects, .blogs{
  width: 70%;
  display: flex;
}
.description{
  width: 32%;
  margin-right: 1%;
  padding: 0 15px;
}
.description img{
  width: 100%;
}
.description h4{
  padding: 5px 0;
  margin: 4px 0;
  color: #000000;
}
.description a{
  text-decoration: none;
}
.work_info h5{
  text-decoration: none;
  font-size: small;
  color: #03a9f4;
  padding-left: 15px;
  cursor: pointer;
  width: fit-content;
}
/* .work_info #show_blogs{
  cursor: not-allowed;
} */
.img_section img {
  bottom: 0px;
  right: -100px;
  width: 50%;
  top: 2vh;
  height: 98vh;
}
.popup_page p{
  display: none;
}

.project_page2{
  display: none;
  margin-top: 15px;
}
#hide_projects, #hide_blogs{
  display: none;
}
.work_info button{
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid #4abee4;
  border-radius: 2px;
  font-size: inherit;
  font-weight: 500;
  margin-top: 15px;
  margin-left: 15px;
  color: var(--custom-blue);
}
.work_info button:hover{
  background-color: var(--custom-blue);
  color: #ffffff;
}
.service_and_project{
  display: flex;
}
.service_and_project h5{
  margin: 10px;
}
