*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
/* project section */
.work_info{
  padding-left: 30px;
}
.work_info h2{
  margin-left: 15px;
  margin-top: 25px;
  margin: 25px 0 10px 15px;
}
.projects, .blogs{
  width: 70%;
  display: flex;
}
.description{
  width: 32%;
  margin-right: 1%;
  padding: 0 15px;
}
.description img{
  width: 100%;
}
.description h4{
  padding: 5px 0;
  margin: 4px 0;
  color: #000000;
}
.description a{
  text-decoration: none;
}
.work_info h5{
  text-decoration: none;
  font-size: small;
  color: #03a9f4;
  padding-left: 15px;
  cursor: pointer;
  width: fit-content;
}
/* .work_info #show_blogs{
  cursor: not-allowed;
} */
.img_section img {
  bottom: 0px;
  right: -100px;
  width: 50%;
  top: 2vh;
  height: 98vh;
}
.popup_page p{
  display: none;
}

.project_page2{
  display: none;
  margin-top: 15px;
}
#hide_projects, #hide_blogs{
  display: none;
}

.work_info button{
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid #4abee4;
  border-radius: 2px;
  font-size: inherit;
  font-weight: 500;
  margin-top: 15px;
  margin-left: 15px;
  color: var(--custom-blue);
}
.work_info button:hover{
  background-color: var(--custom-blue);
  color: #ffffff;
}
#request_form{
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 5%;
  background-color: #ffffff;
  width: 90vw;
  height: 94vh;
  display: none;
}
